<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
</head>
<body>
    <div id="form-outer" ng-controller="sessionController">
            <a href="#!/dashboard">Dashboard</a>
            <h4>Logged in as: {{currentUser.user}}</h4>
        <div id="form-title">
            <h1>IoT CoLLAB - Customer Feedback</h1>
        </div>
        <div id="form-body" ng-controller="customerVisitsController">
                <form>
                    <h4>1.Name</h4>
                    <input class="single-line" type="text" ng-model="visit.name">
                    <h4>2. Company</h4>
                    <input class="single-line" type="text" ng-model="visit.company">
                    <h4>3. Designation / Role in your organization</h4>
                    <input class="single-line" type="text" ng-model="visit.designation">
                    <h4>4. Email Address</h4>
                    <input class="single-line" type="email" ng-model="visit.email">
                    <h4>5. What was the objective of the visit to the lab?</h4>
                    <select ng-model="visit.objective">
                        <option value=""></option>
                        <option value="Get an understanding of the HCL's IoT offering">Get an understanding of the HCL's IoT offering</option>
                        <option value="Looking for IoT to solve specific business needs">Looking for IoT to solve specific business needs</option>
                        <option value="Visit to lab was part of HCL tour">Visit to lab was part of HCL tour</option>
                    </select>
                    <h4>6. Please choose the use case that is most relevant to your business needs, also please suggest if you would like to see any other use cases specific to your needs or challenges</h4>
                    <input type="checkbox" ng-model="visit.usecase.value1" ng-true-value="'LSH- Smart Clinical Trials (Remote Patient Monitoring - RPM)'">LSH- Smart Clinical Trials (Remote Patient Monitoring - RPM)<br>
                    <input type="checkbox" ng-model="visit.usecase.value2" ng-true-value="'LSH- Disease Management (RPM)'">LSH- Disease Management (RPM)<br>
                    <input type="checkbox" ng-model="visit.usecase.value3" ng-true-value="'LSH- Drug Serialization'">LSH- Drug Serialization<br>
                    <input type="checkbox" ng-model="visit.usecase.value4" ng-true-value="'E&U -Active Grid Management (AGM)'">E&U -Active Grid Management (AGM)<br>
                    <input type="checkbox" ng-model="visit.usecase.value5" ng-true-value="'Manufacturing - Overall Equipment Efficiency Analytics'">Manufacturing - Overall Equipment Efficiency Analytics<br>
                    <input type="checkbox" ng-model="visit.usecase.value6" ng-true-value="'Manufacturing - Predictive Maintenance'">Manufacturing - Predictive Maintenance<br>
                    <input type="checkbox" ng-model="visit.usecase.value7" ng-true-value="'Manufacturing - Product Quality'">Manufacturing - Product Quality<br>
                    <input type="checkbox" ng-model="visit.usecase.value8" ng-true-value="'Manufacturing - AR Field Services'">Manufacturing - AR Field Services<br>
                    <input type="checkbox" ng-model="visit.usecase.value9" ng-true-value="'Supply Chain - Asset Tracking (Indoor)'">Supply Chain - Asset Tracking (Indoor)<br>
                    <input type="checkbox" ng-model="visit.usecase.value10" ng-true-value="'Supply Chain - Asset Tracking (Outdoor)'">Supply Chain - Asset Tracking (Outdoor)<br>
                    <input type="checkbox" ng-model="visit.usecase.value11" ng-true-value="'Supply Chain - Cold Chain Blockchain solution'">Supply Chain - Cold Chain Blockchain solution<br>
                    <input type="checkbox" ng-model="visit.usecase.value12" ng-true-value="'Smart Worker Solution'">Smart Worker Solution<br>
                    <input type="checkbox" ng-model="visit.usecase.value13" ng-true-value="'Remote Device Management Platform - ReServ'">Remote Device Management Platform - ReServ<br>
                    <input type="checkbox" ng-model="visit.usecase.value14" ng-true-value="'IoT RUN'">IoT RUN<br>
                    <input type="checkbox" ng-model="visit.usecase.value15" ng-true-value="'IoT Edge (Gateway, Instrumentation)'">IoT Edge (Gateway, Instrumentation)<br>
                    <input type="checkbox" ng-model="visit.usecase.value16" ng-true-value="'IoT Data Platform (Pangea, PAS)'">IoT Data Platform (Pangea, PAS)<br>
                    <h4>7. Please explain what would have enhanced the experience of this visit</h4>
                    <input class="single-line" type="text" ng-model="visit.enhancement">
                    <h4>8. Please recommend names from your Organization whom you think shall visit IoT WoRKS Lab</h4>
                    <input class="single-line" type="text" ng-model="visit.recommendations">
                    <h4>9. Please rate the overall experience</h4>
                    <div class="stars">
                        <input type="radio" ng-model="visit.star" class="star-1" id="star-1" value="1" />
                        <label class="star-1" for="star-1">1</label>
                        <input type="radio" ng-model="visit.star" class="star-2" id="star-2" value="2" />
                        <label class="star-2" for="star-2">2</label>
                        <input type="radio" ng-model="visit.star" class="star-3" id="star-3" value="3" />
                        <label class="star-3" for="star-3">3</label>
                        <input type="radio" ng-model="visit.star" class="star-4" id="star-4" value="4" />
                        <label class="star-4" for="star-4">4</label>
                        <input type="radio" ng-model="visit.star" class="star-5" id="star-5" value="5" />
                        <label class="star-5" for="star-5">5</label>
                        <span></span>
                    </div>
                    <br><br>
                    <input id="submit" type="submit" value="Submit" ng-click="create(currentUser.user)" >
                </form>
                
        </div>
    </div> 
</body>
</html>
