<body>
    <div ng-controller='sessionController'>
        <nav class="nav-topbar" >
            <a class="navbar-brand" href="#">Lab Visits</a>
            <a class="navbar-brand">Logged in as {{currentUser.user}}</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="container-fluid" >
            <nav class="nav-sidebar">
                <a href="#!/customer_feedback">Customer Feedback Form</a><br>
                <a href="#!/lab_feedback">Lab Manager Feedback Form</a><br>
                <hr>
                <a href="#!/dashboard">Dashboard</a><br>
                <a href="#!/excalibur">View and update Excalibur IDs</a><br>
                
            </nav>
            <main class="main-view">
                <div ng-controller='customerVisitsController'>
                    <label>Select month and year for feedback data</label><br>

                    <label>Month</label><select ng-model="date.month" ng-options="n.name for n in date.months"></select>
                    <label>Year</label><select ng-model="date.year" ng-options="n for n in date.years"></select>
                    <input type="submit" value="Get Feedback" ng-click=getFeedback()>
                    <div id="feedback" style="visibility: hidden" ng-model='visitFeedback'>
                        <h4>Average rating for the month: {{avg}}/5!</h4>
                        <ul>
                            <li ng-repeat="x in fb">
                                <h4>{{x.name}} from {{x.company}} says:</h4>
                                <p>{{x.enhancement}}</p> 
                                <h4 ng-if="x.star!==0">Gave {{x.location}} a {{x.star}} star rating!</h4>
                                <h4 ng-if="x.star===0">Did not give a star rating</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
</body>
