<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Customer Feedback</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
</head>
<body>
        <div id="form-outer" ng-controller="sessionController">
                <a href="#!/dashboard">Dashboard</a>
                <h4>Visit for: {{currentUser.user}}</h4>
            <div id="form-title">
                <h1>IoT CoLLAB - Lab Mananger Feedback</h1>
            </div>
            <div id="form-body" ng-controller="labController">
                    <form>
                        <h4>1.Customer's name</h4>
                        <input class="single-line" type="text" ng-model="visit.customer">
                        <h4>2. Date of the customer visit</h4>
                        <input class="single-line" type="date" ng-model="visit.date">
                        <h4>3. Who arranged the visit(name of BD/Sales/Pre-Sales/Other)?</h4>
                        <input class="single-line" type="text" ng-model="visit.arranged">
                        <h4>4. Where was the visit conducted?</h4>
			            <input type="radio" name="where" value="lab" ng-model="visit.where"> In Lab
                        <input type="radio" name="where" value="outbound" ng-model="visit.where">Outbound
                        <h4>5. Which vertical does it belong to?</h4>
                        <input type="checkbox" ng-model="visit.vertical.value1" ng-true-value="'Manufacturing'">Manufacturing<br>
                        <input type="checkbox" ng-model="visit.vertical.value2" ng-true-value="'Energy and Utilities'">Energy and Utilities<br>
                        <input type="checkbox" ng-model="visit.vertical.value3" ng-true-value="'Life Sciences and Healthcare'">Life Sciences and Healthcare<br>
                        <input type="checkbox" ng-model="visit.vertical.value4" ng-true-value="'Travel and Transport Logistics'">Travel and Transport Logistics<br>
                        <input type="checkbox" ng-model="visit.vertical.value5" ng-true-value="'RCPG'">RCPG<br>
                        <input type="checkbox" ng-model="visit.vertical.value6" ng-true-value="'Telecom'">Telecom<br>
                        <input type="checkbox" ng-model="visit.vertical.value7" ng-true-value="'Partners'">Partners<br>
                        <input type="checkbox" ng-model="visit.vertical.value8" ng-true-value="'Internal'">Internal<br>
                        <input type="checkbox" ng-model="visit.vertical.value10" ng-true-value="'Analyst'">Analyst<br>
                        <input type="checkbox" ng-model="visit.vertical.value9" ng-true-value="'Other'">Other<br>
                        <h4>6. Who conducted the visit?</h4>
                        <input class="single-line" type="text" ng-model="visit.who">
                        <h4>7. Which solutions were shared?</h4>
                        <input type="checkbox" ng-model="visit.usecase.value1" ng-true-value="'LSH- Smart Clinical Trials (Remote Patient Monitoring - RPM)'">LSH- Smart Clinical Trials (Remote Patient Monitoring - RPM)<br>
                        <input type="checkbox" ng-model="visit.usecase.value2" ng-true-value="'LSH- Disease Management (RPM)'">LSH- Disease Management (RPM)<br>
                        <input type="checkbox" ng-model="visit.usecase.value3" ng-true-value="'LSH- Drug Serialization'">LSH- Drug Serialization<br>
                        <input type="checkbox" ng-model="visit.usecase.value4" ng-true-value="'E&U -Active Grid Management (AGM)'">E&U -Active Grid Management (AGM)<br>
                        <input type="checkbox" ng-model="visit.usecase.value5" ng-true-value="'Manufacturing - Overall Equipment Efficiency Analytics'">Manufacturing - Overall Equipment Efficiency Analytics<br>
                        <input type="checkbox" ng-model="visit.usecase.value6" ng-true-value="'Manufacturing - Predictive Maintenance'">Manufacturing - Predictive Maintenance<br>
                        <input type="checkbox" ng-model="visit.usecase.value7" ng-true-value="'Manufacturing - Product Quality'">Manufacturing - Product Quality<br>
                        <input type="checkbox" ng-model="visit.usecase.value8" ng-true-value="'Manufacturing - AR Field Services'">Manufacturing - AR Field Services<br>
                        <input type="checkbox" ng-model="visit.usecase.value9" ng-true-value="'Supply Chain - Asset Tracking (Indoor)'">Supply Chain - Asset Tracking (Indoor)<br>
                        <input type="checkbox" ng-model="visit.usecase.value10" ng-true-value="'Supply Chain - Asset Tracking (Outdoor)'">Supply Chain - Asset Tracking (Outdoor)<br>
                        <input type="checkbox" ng-model="visit.usecase.value11" ng-true-value="'Supply Chain - Cold Chain Blockchain solution'">Supply Chain - Cold Chain Blockchain solution<br>
                        <input type="checkbox" ng-model="visit.usecase.value12" ng-true-value="'Smart Worker Solution'">Smart Worker Solution<br>
                        <input type="checkbox" ng-model="visit.usecase.value13" ng-true-value="'Remote Device Management Platform - ReServ'">Remote Device Management Platform - ReServ<br>
                        <input type="checkbox" ng-model="visit.usecase.value14" ng-true-value="'IoT RUN'">IoT RUN<br>
                        <input type="checkbox" ng-model="visit.usecase.value15" ng-true-value="'IoT Edge (Gateway, Instrumentation)'">IoT Edge (Gateway, Instrumentation)<br>
                        <input type="checkbox" ng-model="visit.usecase.value16" ng-true-value="'IoT Data Platform (Pangea, PAS)'">IoT Data Platform (Pangea, PAS)<br>
                        <h4>8. Which area interested the customer most?</h4>
                        <textarea class="multi-line" ng-model="visit.interest" cols="5"></textarea>
                        <h4>9. What are the next steps?</h4>
                        <textarea class="multi-line" ng-model="visit.next" cols="5"></textarea>
                        <h4>10. What is the Excalibur ID?</h4>
                        <input class="single-line" type="text" ng-model="visit.excalibur">
                        <h4>11. Associate with customer feedback</h4>
                        <form>
                            <div ng-controller="customerVisitsController">
                                <input type="submit" value="Search" ng-click="findVisit()">
                                <select ng-model="visit.customer_id">
                                    <option value="">Search to get options</option>
                                    <option ng-repeat="x in dailyVisits" value="{{x._id}}">{{x.company}}</option>
                                </select>
                            </div>
                        </form>
                        <br><br>
                        <input id="submit" type="submit" value="Submit" ng-click="create(currentUser.user)">
                    </form>
            </div>
        </div> 
    </body>
